{% extends "main_app/base.html" %} {% block content %}
<div class="container">
  <section class="section1">
    <div class="text-section1">
      <h1>WELCOME</h1>
      <p></p>
    </div>
  </section>
  <section class="section2">
    <div class="text-section2">
      <h1>OUR GOAL</h1>
      <p>is always..</p>
    </div>
  </section>
  <section class="section3">
    <div class="text-section3">
      <p>...to make you,</p>
      <h1>HAPPY !!!</h1>
    </div>
  </section>
  <section class="section4">
    <div class="text-section4">
      <h1>WELCOME</h1>
      <p></p>
    </div>
  </section>
</div>
<div class="container-2" id="about_us">
  <h1>Lorems</h1>
  <p>{% lorem how_many_paragraphs %}</p>
</div>
<div class="services">
  <section class="mri" id="mri">
    <span></span>
    <h2>MRI</h2>
    <p>{% lorem how_many_paragraphs %}</p>
  </section>
  <section class="ncv" id="nvc">
    <span> </span>
    <h2>NCV</h2>
    <p>{% lorem how_many_paragraphs %}</p>
  </section>
  <section class="ultrasound" id="ultrasound">
    <span></span>
    <h2>UxSound</h2>
    <p>{% lorem how_many_paragraphs %}</p>
  </section>
  <section class="xray" id="xray">
    <span></span>
    <h2>X Rays</h2>
    <p>{% lorem how_many_paragraphs %}</p>
  </section>
</div>

{% endblock content %}
